# Xcode build artefacts
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
.build/
*.ipa
*.dSYM.zip
*.dSYM

# Xcode Simulator
*.app/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods
Pods/
*.xcworkspace

# Secrets
*.env
*.pem
Secrets.swift
